@font-face {
  font-family: 'AMORIA'; 
  src: url('font/AMORIA.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-padding-top: 90px;
  /* Evita que el contenido quede tapado por el nav fijo cuando se hace click en un enlace interno*/
}

html::-webkit-scrollbar { /* Pseudoelemento de WebKit (navegadores) */
  width: 0px; /* Oculta la barra de desplazamiento, no deja espacio para que se dibuje */
  background: transparent; /* Define que el fondo del área donde estaría la barra (el “track” invisible del scrollbar) sea transparente. */
}

/* PRIMER CARTEL */

.inicio_div {
  text-align: center;
  color: #c32f79;
  padding: 25px;
  border: 7px double #cd5788;
  border-radius: 10px;
  background-color: rgba(205,87,136,0.1);
  display: inline-block; 
  margin-bottom: 30px;
  transition: background-color 2s, transform 0.6s;
}

.inicio_div:hover {
  background-color: rgba(205,87,136,0.2);
  transform: scale(1.02) translateY(10px);
}

/* BODY */

body {
  margin-top: 100px;
  text-align: center;
  color: #c32f79;
  background-color: #EFCDC7;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Cambio transicionado al volver al tema claro */
  line-height: 1.6;
}

img.yo { 
  width: 300px;
  height: 300px; 
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(71, 18, 51, 0.516);
  transition: all 0.5s;
  border: 7px double #cd5788;
  border-radius: 100%;
}

img.yo:hover {
  transform: scale(1.03);
}

body.tema-oscuro img.yo {
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  text-shadow: 0 0 5px #f0a1c2, 0 0 1.6px #ffffff3f, 0 0 2px #f0a1c2;
}

a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: text-shadow 0.45s;
}

.link_proyecto {
  display: inline-block;
  color:#c32f79;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: all 0.45s;
}

.link_proyecto:hover {
  color: white;
  transform: scale(1.04);
  text-shadow: 0 0 2px #ffffffc9, 0 0 2px #ffffff3f, 0 0 8px #ffffff;
  text-shadow: 0px 1px 3px rgba(104, 27, 75, 0.224)
}

body.tema-oscuro .link_proyecto {
  color: #f0a1c2;
  transition: all 0.45s;
}

body.tema-oscuro .link_proyecto:hover {
  text-shadow: 0 0 2px #f0a1c2, 0 0 2px #ffffff3f, 0 0 8px #e78ab0;
  
}

/* BARRA DE NAVEGACIÓN */

nav ul {
  list-style: none;
  padding: 25px;
  margin: 0;
  display: flex;
  justify-content: center; 
  gap: 45px;
  font-size: 20px;
  font-family: 'AMORIA';
  transition: color 0.4s;
  z-index: 1000;
}

nav {
  position: fixed;
  top: 0; /* Coloca el borde superior del nav en la parte superior de la ventana del navegador. Sólo funciona con position: fixed, absolute o relative */
  left: 0; /* Lo mismo pero con el borde izquierdo */
  width: 100%;
  background-color: #d68d93;
  z-index: 1000; 
  transition: background-color 0.4s, box-shadow 0.8s;
  box-shadow: 0px 4px 10px rgba(104, 27, 75, 0.224);
}

nav a:hover {
  text-shadow: 0 0 2px #ffffffc9, 0 0 2px #ffffff3f, 0 0 8px #ffffff; /* Iluminar links */
}

/* TÍTULOS */

h1, h2, h3 {
  font-family: 'AMORIA';
  color: #cd5788;
  transition: color 0.4s, transform 0.4s, text-shadow 0.45s, border-bottom 0.4s;
}

h1 {
  border-bottom: 2px solid #cd5788;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

h2 {
  border-bottom: 2px solid #cd5788;
  border-top: 2px solid #cd5788;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

h1:hover{
  transform: scale(1.08);
  text-shadow: 0 0 2px #cd5788, 0 0 2px #cd5788, 0 0 8px #cd5788;
  color:#ffe0ec;
}

h2:hover {
  transform: scale(1.05) rotate(1.2deg);
}

h3 {
  display: inline-block;
  text-align: center;
  transition: 0.2s;
  margin-top: 45px;
}

h3:hover {
  transform: scale(1.02);
}


/* FIN TÍTULOS */

p, blockquote, li { /* Cuando transiciona al tema claro */
  color: #c32f79;
  transition: color 0.3s, transform 0.2s;
}

p.resaltado, blockquote.resaltado { 
  border: 2px solid #cd5788;
  border-radius: 12px;
  padding: 12px 15px;
  background-color: rgba(243, 0, 101, 0.08);
  margin: 15px auto;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(104, 27, 75, 0.224);
}

p.resaltado:hover, blockquote.resaltado:hover {
  transform: scale(1.02);
}

/* FORMULARIO */

#formulario-contacto { 
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
  background-color: #f7dcd6;
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 10px rgba(79, 20, 56, 0.281);
  transition: background-color 0.3s, transform 0.3s;
}

#formulario-contacto:hover {
  transform: translateY(-5px); 
}

#formulario-contacto h1 { /* Aplica estilo a "Contactame" */
  margin-bottom: 45px;
  color: #cd5788;
  border-bottom: 2px solid #cd5788;
  display: inline-block;
  padding-bottom: 5px;
}

#formulario-contacto h1:hover {
  transform: scale(1.08);
  text-shadow: 0 0 2px #cd5788, 0 0 2px #cd5788, 0 0 8px #cd5788;
  color:#ffe0ec;
}

#formulario-contacto input, #formulario-contacto textarea {
  text-align: center;
  width: 90%;
  padding: 12px;
  margin-top: 7px;
  margin-bottom: 25px;
  border: 4px double #ff98a9;
  border-radius: 12px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.2s;
  resize: none; /* Para que no se pueda redimensionar el textarea */
  field-sizing: content;
}

#formulario-contacto textarea {
  min-height: 80px;
  overflow-y: hidden; /* Para que no aparezca scroll mientras crece */
  text-align: justify;
  margin-bottom: 10px;
}

#formulario-contacto input:focus, #formulario-contacto textarea:focus {
  outline: none;
  border-color: #cd5788;
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  transform: scale(1.02);
}

#formulario-contacto button {
  background-color: #EFCDC7;
  color: #cd5788;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

#formulario-contacto button:hover {
  background-color: #fff2f0;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

/* REDES SOCIALES */
#contacto a {
  color: #c32f79;
  font-size: 22px;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

#contacto a:hover {
  color: #b5396d;
  transform: scale(1.2);
  text-shadow: 0 0 2px #f67db0, 0 0 2px #ffffff3f, 0 0 8px #f67db0;
}

/* BOTÓN PARA IR ARRIBA */
#botonArriba { 
  position: fixed;
  display:block;
  bottom: 20px;
  right: 30px;
  width: 50px; 
  height: 50px;
  font-size: 22px;
  border: none;
  border-radius: 50%; 
  background-color: #cd5788;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  opacity: 0;
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s, opacity 0.5s;
  pointer-events: none; /* No clickeable mientras esté invisible (opacidad 0) */
}

#botonArriba.visible { /* Lo hace visible y permite presionar el botón */
  opacity: 1;
  pointer-events: auto;
}

#botonArriba:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

body.tema-oscuro #botonArriba {
  background-color: #f0a1c2;
  color: #1e1e1e;
}

/* FOOTER */
footer p{
  font-size: 17px;
  margin-left: 0px;
}

/* TEMA OSCURO (GENERALES) */
body.tema-oscuro #contacto a {
  color: #f0a1c2;
}

body.tema-oscuro nav a:hover {
  color: #f0a1c2;
  text-shadow: 0 0 2px #f0a1c2, 0 0 2px #ffffff3f, 0 0 8px #f0a1c2;
}

body.tema-oscuro {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.tema-oscuro nav {
  background-color: #333;
  box-shadow: 0px 4px 10px rgba(8, 8, 8, 0.281);
}

body.tema-oscuro h1, body.tema-oscuro h2, body.tema-oscuro h3, body.tema-oscuro p, body.tema-oscuro blockquote, body.tema-oscuro li {
  color: #f0a1c2;
}

body.tema-oscuro .inicio_div {
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

body.tema-oscuro .inicio_div p{
  text-shadow: 0 0 2px #f0a1c2, 0 0 1.6px #ffffff3f, 0 0 2px #f0a1c2;
}

body.tema-oscuro p.resaltado, blockquote.resaltado {
  text-shadow: 0 0 2px #f0a1c2, 0 0 1.6px #ffffff3f, 0 0 2px #f0a1c2;
}

body.tema-oscuro p.resaltado:hover, body.tema-oscuro blockquote.resaltado:hover {
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  background-color: #ae2b624b;
  ;
}

body.tema-oscuro #formulario-contacto {
  background-color: #2b2b2b;
  box-shadow: 0px 10px 10px rgba(8, 8, 8, 0.281);
}

body.tema-oscuro #formulario-contacto h1 {
  color: #f0a1c2;
}

body.tema-oscuro #formulario-contacto label {
  text-shadow: 0 0 2px #ffffff, 0 0 1.6px #ffffff3f, 0 0 2px #ffffff;
}

body.tema-oscuro #formulario-contacto input, body.tema-oscuro #formulario-contacto textarea {
  background-color: #444;
  color: #f0f0f0;
  border-color: #666;
}

body.tema-oscuro #formulario-contacto input:focus, body.tema-oscuro #formulario-contacto textarea:focus { 
  border-color: #cd5788;
  box-shadow: 0 0 8px rgba(255, 141, 188, 0.769);
  transform: scale(1.02);
}

body.tema-oscuro #formulario-contacto button {
  background-color: #444;
  color: #f0f0f0;
}

body.tema-oscuro #formulario-contacto button:hover {
  box-shadow: 0 0 8px rgba(255, 250, 252, 0.5);
}

/* BOTÓN TEMA CLARO-OSCURO */
#botonTema { 
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #cd5788;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#botonTema:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

body.tema-oscuro #botonTema {
  background-color: #f0a1c2;
  color: #1e1e1e;
}

/* APP DEL CLIMA */
#clima {
  text-align: center;
  margin: 50px auto;
  padding: 25px;
  background-color: rgba(205, 87, 136, 0.1);
  border: 7px double #cd5788;
  border-radius: 12px;
  display: inline-block;
  transition: background-color 0.5s, transform 0.4s, box-shadow 0.4s;
  box-shadow: 0px 4px 10px rgba(104, 27, 75, 0.224);
  font-family: 'Montserrat', sans-serif;
}

#clima:hover {
  background-color: rgba(205,87,136,0.2);
  transform: scale(1.02) translateY(5px);
  box-shadow: 0px 6px 15px rgba(104, 27, 75, 0.3);
}

#clima input {
  padding: 12px;
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  border: 4px double #ff98a9;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

#clima input:focus {
  outline: none;
  border-color: #cd5788;
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
  transform: scale(1.02);
}

#clima button {
  padding: 12px 15px;
  border-radius: 7px;
  background-color: #c32f79;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#clima button:hover {
  background-color: #a62663;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

#resultadoClima {
  margin-top: 25px;
  font-size: 20px;
  color: #c32f79;
  transition: color 0.3s, transform 0.3s;
}

#resultadoClima img {
  margin-top: 10px;
}

/* TEMA OSCURO DEL CLIMA */
body.tema-oscuro #clima {
  background-color: rgba(205, 87, 136, 0.1);;
  box-shadow: 0px 4px 10px rgba(8, 8, 8, 0.281);
  box-shadow: 0 0 8px rgba(205,87,136,0.5);
}

body.tema-oscuro #clima input {
  background-color: #444;
  color: #f0f0f0;
  border-color: #666;
}

body.tema-oscuro #clima input::selection {
  background: #666;
  color: #fff;
}

body.tema-oscuro #clima input:focus {
  background-color: #444;
  border-color: #cd5788;
  box-shadow: 0 0 8px rgba(255, 141, 188, 0.769);
}

body.tema-oscuro #clima button {
  background-color: #444;
  color: #f0f0f0;
}

body.tema-oscuro #clima button:hover {
  box-shadow: 0 0 8px rgba(255, 250, 252, 0.5);
}

body.tema-oscuro #resultadoClima {
  color: #f0a1c2;
}

body.tema-oscuro #resultadoClima p {
  text-shadow: 0 0 1px #f0a1c2, 0 0 1.6px #ffffff3f, 0 0 1px #f0a1c2;
}

@media (max-width: 700px) {
  body {
    font-size: 16px;
    
  }

  #sobre-mi {
    margin-left: 45px;
  }

  #sobre-mi h2 {
    margin-left: 20px;
  }

  p.resaltado {
    margin-left: 20px;
  }
  main {
    margin-left: 0px;
    margin-right: -13px;
  }

  a {
    font-size: 12px;
  }

  img.yo {
    width: 90%;
    height: auto;
    margin-left: 19px;
  }

  #proyectos {
    margin-left: 45px;
  }

  article {
    margin-left: 20px;
  }

  h2 {
    margin-left: 20px;
  }

  #referencias {
    margin-left: 45px;
  }

  #referencias h2 {
    margin-left: 20px;
  }

  blockquote.resaltado {
    margin-left: 20px;
  }

  #formulario-contacto {
    width: 90%;
    padding: 15px;
    margin-left: 31px;
  }

  aside {
    margin-left: 75px;
    text-align: justify;
  }

  #contacto a {
    font-size: 17px;
  }
  nav ul {
    display: flex;
    gap: 10px;
    font-size: 1px;
  }

  .inicio_div {
    width: 100%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
  }

  #clima {
    margin-left: 26px;
  }

  #clima h2 {
    margin-left: 20px;
  }

  p, li {
    font-size: 16px;
  }

  #botonTema {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  #botonArriba {
    width: 45px;
    height: 45px;
    margin-left: 200px;
  }
  
  footer {
    margin-left: 80px;
  }

  #footer-text {
    font-size: 14px;
  }
}

